body
{
    margin: 0;
}

#bar
{
    position: relative;
}

#tooltip
{
    bottom: 10px;
    left: 10px;
    position: absolute;
    padding: 1em;
    background-color: #fff;
    border: 1px solid #666;
    font-size: 11px;
    display: none;
}
